@media (min-width: 1100px) {
    .container {
        width: 100%;
        height: 3.75rem;
        margin: 0 10px;

        display: flex;
        justify-content: space-between;
        align-items: center;

        //background-color: #717170;

        .start {
            display: flex;
            gap: 0.35rem;

            .menu {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                padding: 8px;

                svg {
                    width: 20px;
                    height: 20px;
                }
            }
            .icon {
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    width: 6.25rem;
                    height: 20px;
                }

                span {
                    margin: -10px 0 12px 0;
                    font-size: 8px;
                    font-family: Roboto, Arial, sans-serif;
                    font-weight: 700;
                    color: #606060;
                }
            }
        }

        .center {
            display: flex;
            justify-content: center;
            align-items: center;

            .input {
                flex: 1;
                display: flex;
                width: 34.5rem;
                height: 40px;
                flex-direction: row;
                position: relative;
                align-items: center;
                border-radius: 2px;
                padding: 2px 6px;

                input {
                    width: 100%;
                    height: 100%;
                    border: 1px solid #c4c3c3;
                    padding: 0 6px;
                    outline: none;

                    border-right: none;
                    font-size: 16px;
                    color: #c4c3c3;
                }

                svg {
                    width: 25px;
                    height: 20px;
                    float: left;
                    color: #909090;
                    margin: 3px 0px 0px -30px;
                    cursor: pointer;
                }
            }

            a {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 40px;
                width: 64px;
                background-color: #f8f8f8;
                border: 1px solid #c4c3c3;
                cursor: pointer;

                svg {
                    width: 20px;
                    height: 20px;
                    color: #000000;
                }
            }
            .voice {
                width: 40px;
                height: 40px;

                display: flex;
                justify-content: center;
                align-items: center;

                background-color: #f8f8f8;
                border-radius: 50%;
                margin: 6px 8px;
                svg {
                    width: 24px;
                    height: 24px;
                    color: #000000;
                }
            }
        }

        .end {
            min-width: 225px;

            margin: 0 20px;
            display: flex;
            justify-content: center;
            align-items: center;

            .camera {
                width: 40px;
                height: 40px;

                display: flex;
                justify-content: center;
                align-items: center;

                margin: 6px 8px;
                svg {
                    width: 20px;
                    height: 20px;
                    color: #000000;
                }
            }
            .grid {
                width: 40px;
                height: 40px;

                display: flex;
                justify-content: center;
                align-items: center;

                margin: 6px 8px;
                svg {
                    width: 20px;
                    height: 20px;
                    color: #000000;
                }
            }
            .bell {
                width: 40px;
                height: 40px;

                display: flex;
                justify-content: center;
                align-items: center;

                margin: 6px 8px;
                svg {
                    width: 20px;
                    height: 20px;
                    color: #000000;
                }
            }

            .profile {
                width: 40px;
                height: 40px;

                margin: 0 10px;
            }
        }
    }
}

@media (max-width: 1100px) and (min-width: 790px) {
    .container {
        width: 100%;
        height: 3.75rem;
        margin: 0 10px;

        display: flex;
        justify-content: space-between;
        align-items: center;

        //background-color: #717170;

        .start {
            display: flex;
            gap: 0.35rem;

            .menu {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                padding: 8px;

                svg {
                    width: 20px;
                    height: 20px;
                }
            }
            .icon {
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    width: 6.25rem;
                    height: 20px;
                }

                span {
                    margin: -10px 0 12px 0;
                    font-size: 8px;
                    font-family: Roboto, Arial, sans-serif;
                    font-weight: 700;
                    color: #606060;
                }
            }
        }

        .center {
            display: flex;
            justify-content: center;
            align-items: center;

            .input {
                flex: 1;
                display: flex;
                width: 14rem;
                height: 40px;
                flex-direction: row;
                position: relative;
                align-items: center;
                border-radius: 2px;
                padding: 2px 6px;

                input {
                    width: 100%;
                    height: 100%;
                    border: 1px solid #c4c3c3;
                    padding: 0 6px;
                    outline: none;

                    border-right: none;
                    font-size: 16px;
                    color: #c4c3c3;
                }

                svg {
                    width: 25px;
                    height: 20px;
                    float: left;
                    color: #909090;
                    margin: 3px 0px 0px -30px;
                    cursor: pointer;
                }
            }

            a {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 40px;
                width: 64px;
                background-color: #f8f8f8;
                border: 1px solid #c4c3c3;
                cursor: pointer;

                svg {
                    width: 20px;
                    height: 20px;
                    color: #000000;
                }
            }
            .voice {
                width: 40px;
                height: 40px;

                display: flex;
                justify-content: center;
                align-items: center;

                background-color: #f8f8f8;
                border-radius: 50%;
                margin: 6px 8px;
                svg {
                    width: 24px;
                    height: 24px;
                    color: #000000;
                }
            }
        }

        .end {
            min-width: 225px;

            margin: 0 20px;
            display: flex;
            justify-content: center;
            align-items: center;

            .camera {
                width: 40px;
                height: 40px;

                display: flex;
                justify-content: center;
                align-items: center;

                margin: 6px 8px;
                svg {
                    width: 20px;
                    height: 20px;
                    color: #000000;
                }
            }
            .grid {
                width: 40px;
                height: 40px;

                display: flex;
                justify-content: center;
                align-items: center;

                margin: 6px 8px;
                svg {
                    width: 20px;
                    height: 20px;
                    color: #000000;
                }
            }
            .bell {
                width: 40px;
                height: 40px;

                display: flex;
                justify-content: center;
                align-items: center;

                margin: 6px 8px;
                svg {
                    width: 20px;
                    height: 20px;
                    color: #000000;
                }
            }

            .profile {
                width: 40px;
                height: 40px;

                margin: 0 10px;
            }
        }
    }
}

@media (max-width: 790px) {
    .container {
        width: 100%;
        height: 3.75rem;
        margin: 0 10px;

        display: flex;
        justify-content: space-between;
        align-items: center;

        //background-color: #717170;

        .start {
            display: flex;
            gap: 0.35rem;

            .menu {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                padding: 8px;

                svg {
                    width: 20px;
                    height: 20px;
                }
            }
            .icon {
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    width: 6.25rem;
                    height: 20px;
                }

                span {
                    margin: -10px 0 12px 0;
                    font-size: 8px;
                    font-family: Roboto, Arial, sans-serif;
                    font-weight: 700;
                    color: #606060;
                }
            }
        }

        .center {
            display: flex;
            justify-content: center;
            align-items: center;

            .input {
                flex: 1;
                display: flex;
                width: auto;
                height: 40px;
                flex-direction: row;
                position: relative;
                align-items: center;
                border-radius: 2px;
                padding: 2px 6px;

                input {
                    display: none;
                }

                svg {
                    display: none;
                }
            }

            a {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 40px;
                width: 64px;
                cursor: pointer;

                svg {
                    width: 20px;
                    height: 20px;
                    color: #000000;
                }
            }
            .voice {
                width: 40px;
                height: 40px;

                display: flex;
                justify-content: center;
                align-items: center;

                background-color: #f8f8f8;
                border-radius: 50%;
                margin: 6px 8px;
                svg {
                    width: 24px;
                    height: 24px;
                    color: #000000;
                }
            }
        }

        .end {
            min-width: 225px;

            margin: 0 20px;
            display: flex;
            justify-content: center;
            align-items: center;

            .camera {
                width: 40px;
                height: 40px;

                display: flex;
                justify-content: center;
                align-items: center;

                margin: 6px 8px;
                svg {
                    width: 20px;
                    height: 20px;
                    color: #000000;
                }
            }
            .grid {
                width: 40px;
                height: 40px;

                display: flex;
                justify-content: center;
                align-items: center;

                margin: 6px 8px;
                svg {
                    width: 20px;
                    height: 20px;
                    color: #000000;
                }
            }
            .bell {
                width: 40px;
                height: 40px;

                display: flex;
                justify-content: center;
                align-items: center;

                margin: 6px 8px;
                svg {
                    width: 20px;
                    height: 20px;
                    color: #000000;
                }
            }

            .profile {
                width: 40px;
                height: 40px;

                margin: 0 10px;
            }
        }
    }
}
